*{
    padding: 0px;
    margin: 0px;
   font-family: Arial, Helvetica, sans-serif; 
}

body{background-color: rgb(35, 168, 221);
 }

 #container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 5px 10px #e5e907;
    /*border: 1px solid red;*/
    background-color: bisque;
 }

 #header{
   height: 145px;
   background-color: azure;
 }
 #logo {
   padding:20px ;
   margin-left: 20px; 
   float: left;  
 }

 #logo img{
   float: left;
   height: 100px;
 }
 #logo a{
   float: left;
   font-size: 40px;
   letter-spacing: 4px;
   text-transform: uppercase;
   color: blueviolet;
   font-weight: bold;
   text-decoration: none;
   margin-top: 18px;
   margin-left: 25px;
   text-shadow: 0px 2px 1px;
   transition: all 300ms;

 }

 #logo a:hover{
   text-shadow: 0px 2px 1px color( blue), 0px 0px 4px red;
 }